openapi: 3.1.0

info:
  title: Hotel Feed & Reservation API
  description: >
    ACP-compatible hotel feed, availability search, checkout creation,
    and full reservation lifecycle (retrieval, modification, cancellation).
  version: 2.0.0
  contact:
    email: support@yourdomain.com

servers:
  - url: https://acp.thegummibear.com/

paths:

  #######################################################################
  # HOTEL FEED
  #######################################################################
  /hotels/feed:
    get:
      operationId: getHotelsFeed
      summary: Get normalized hotel feed
      description: >
        Public endpoint. Does not require authentication.
      security: [] 
      parameters:
        - name: destination
          in: query
          schema: { type: string }
        - name: checkIn
          in: query
          schema: { type: string, format: date }
        - name: checkOut
          in: query
          schema: { type: string, format: date }
      responses:
        "200":
          description: Normalized hotel feed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HotelFeedResponse"

  #######################################################################
  # HOTEL DETAILS
  #######################################################################
  /hotels/{hotel_id}/details:
    get:
      operationId: getHotelDetails
      summary: Get detailed hotel content
      description: >
        Public endpoint. Returns comprehensive hotel information including
        name, description, location, facilities, and images. Always display
        images to help users visualize the hotel.
      security: [] 
      parameters:
        - name: hotel_id
          in: path
          required: true
          schema: { type: integer }
      responses:
        "200":
          description: Hotel details found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HotelDetails"
        "404":
          description: Hotel not found

  #######################################################################
  # AVAILABILITY SEARCH
  #######################################################################
  /availability/search:
    post:
      operationId: searchAvailability
      summary: Search availability and retrieve rateKeys
      description: >
        Public endpoint. Does not require authentication.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AvailabilityRequest"
      responses:
        "200":
          description: Availability results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AvailabilityResponse"
        "404":
          description: No availability found

  #######################################################################
  # CHECKOUT
  #######################################################################
  /checkout/create:
    post:
      operationId: createCheckout
      summary: Create a reservation using a Hotelbeds rateKey (ACP Unified Checkout)
      parameters:
        - name: Idempotency-Key
          in: header
          required: true
          schema:
            type: string
      description: >
        Protected operation. Requires Authorization header, a valid intent_id in the request body, and an Idempotency-Key header.
        The same Idempotency-Key must be reused when retrying a failed request.

      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CheckoutRequest"
      responses:
        "200":
          description: Booking confirmed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckoutResponse"
        "400":
          description: Invalid request
        "502":
          description: Upstream supplier error

  #######################################################################
  # RESERVATION GET
  #######################################################################
  /reservation/get:
    post:
      operationId: getReservation
      summary: Retrieve an existing reservation
      description: >
        Protected operation. Requires Authorization header.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReservationGetRequest"
      responses:
        "200":
          description: Reservation found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReservationGetResponse"
        "404":
          description: Reservation not found

  #######################################################################
  # RESERVATION LIST
  #######################################################################

  /reservation/list:
    get:
      operationId: listReservations
      summary: List all reservations for authenticated user
      description: >
        Protected operation. Returns paginated list of user's reservations
        sorted by creation date (newest first).
      security:
        - bearerAuth: []
      parameters:
        - name: limit
          in: query
          schema: 
            type: integer
            default: 50
            minimum: 1
            maximum: 100
        - name: offset
          in: query
          schema: 
            type: integer
            default: 0
            minimum: 0
      responses:
        "200":
          description: List of reservations
          content:
            application/json:
              schema:
                type: object
                properties:
                  reservations:
                    type: array
                    items:
                      $ref: "#/components/schemas/Reservation"
                  count:
                    type: integer
                    description: Number of reservations in this response
                  total:
                    type: integer
                    description: Total number of reservations for this user
                  limit:
                    type: integer
                  offset:
                    type: integer
                  hasMore:
                    type: boolean
                    description: Whether more results are available




  #######################################################################
  # RESERVATION CANCEL
  #######################################################################
  /reservation/cancel:
    post:
      operationId: cancelReservation
      summary: Cancel a reservation or compute penalties in dry-run mode
      description: >
        Protected operation. When dryRun=true, returns cancellation penalties
        WITHOUT actually canceling. When dryRun=false, executes the cancellation.
        ALWAYS call with dryRun=true first to show user the penalties before canceling.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReservationCancelRequest"
      responses:
        "200":
          description: Cancellation result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReservationCancelResponse"
        "404":
          description: Reservation not found

  #######################################################################
  # RESERVATION MODIFY
  #######################################################################
  /reservation/modify:
    post:
      operationId: modifyReservation
      summary: Modify a reservation (supports dry-run)
      description: >
        Protected operation. Requires Authorization header.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReservationModifyRequest"
      responses:
        "200":
          description: Modification result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReservationModifyResponse"
        "404":
          description: Reservation not found



  /checkout/intent/create:
    post:
      operationId: createBookingIntent
      summary: Start a new booking (ALWAYS call this first)
      description: >
        Public endpoint. Creates a booking intent to begin the checkout process.
        REQUIRED as the first step for all new hotel bookings.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CheckoutIntentRequest"
      responses:
        "201":
          description: Booking intent created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckoutIntentResponse"

  /checkout/intent/auto-resume:
    get:
      operationId: autoResumeIntent
      summary: Claim and retrieve booking intent
      description: >
        Protected operation. Finds unclaimed booking intents and claims them
        for the authenticated user. Call this immediately after createBookingIntent
        to trigger authentication.
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Intent retrieved or null if none found
          content:
            application/json:
              schema:
                type: object
                properties:
                  intent:
                    oneOf:
                      - $ref: "#/components/schemas/CheckoutIntent"
                      - type: "null"

  /payment/create-checkout-session:
    post:
      operationId: createPaymentSession
      summary: Create Stripe payment session
      description: >
        Protected operation. Creates a Stripe Checkout session for payment.
        Gets price from the booking intent payload automatically.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [intent_id]
              properties:
                intent_id:
                  type: string
                  format: uuid
                  description: Booking intent ID (price is retrieved from intent)
      responses:
        "200":
          description: Checkout session created
          content:
            application/json:
              schema:
                type: object
                properties:
                  checkout_url:
                    type: string
                  session_id:
                    type: string
                  intent_id:
                    type: string
                  amount:
                    type: number
                  currency:
                    type: string
#######################################################################
# COMPONENTS
#######################################################################
components:

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:

    ###################################################################
    # HOTEL FEED
    ###################################################################
    HotelFeedResponse:
      type: object
      properties:
        count: { type: integer }
        data:
          type: array
          items:
            $ref: "#/components/schemas/Hotel"

    Hotel:
      type: object
      properties:
        id: { type: integer }
        name: { type: string }
        category: { type: string }
        destination: { type: string }
        location:
          type: object
          properties:
            lat: { type: number }
            lon: { type: number }
        rooms:
          type: array
          items:
            $ref: "#/components/schemas/HotelRoom"

    HotelRoom:
      type: object
      properties:
        name: { type: string }
        rates:
          type: array
          items:
            $ref: "#/components/schemas/HotelRate"

    HotelRate:
      type: object
      properties:
        rateKey: { type: string }
        net: { type: number }
        sellingRate: { type: number }
        board: { type: string }
        paymentType: { type: string }

    ###################################################################
    # HOTEL DETAILS
    ###################################################################
    HotelDetails:
      type: object
      properties:
        id: { type: integer }
        name: { type: string }
        description: { type: string }
        address: { type: string }
        images:
          type: array
          items: { type: string }
          format: uri
        facilities:
          type: array
          items: { type: string }
        rooms:
          type: array
          items:
            $ref: "#/components/schemas/HotelDetailsRoom"

    HotelDetailsRoom:
      type: object
      properties:
        code: { type: string }
        name: { type: string }
        description: { type: string }
        images:
          type: array
          items: { type: string }
          format: uri


    ###################################################################
    # AVAILABILITY
    ###################################################################
    AvailabilityRequest:
      type: object
      required: [hotelId, checkIn, checkOut, occupancies]
      properties:
        hotelId: { type: integer }
        checkIn: { type: string, format: date }
        checkOut: { type: string, format: date }
        occupancies:
          type: array
          items:
            $ref: "#/components/schemas/OccupancyRequest"

    OccupancyRequest:
      type: object
      properties:
        roomId: { type: string }
        paxes:
          type: array
          items:
            $ref: "#/components/schemas/Pax"

    Pax:
      type: object
      properties:
        type: { type: string, enum: [AD, CH] }
        age: { type: integer }
        name: { type: string }
        surname: { type: string }

    AvailabilityResponse:
      type: object
      properties:
        hotelId: { type: integer }
        hotelName: { type: string }
        currency: { type: string }
        checkIn: { type: string, format: date }
        checkOut: { type: string, format: date }
        rates:
          type: array
          items:
            $ref: "#/components/schemas/AvailabilityRate"

    AvailabilityRate:
      type: object
      properties:
        roomCode: { type: string }
        board: { type: string }
        rateKey: { type: string }
        net: { type: number }
        sellingRate: { type: number }
        paymentType: { type: string }

    ###################################################################
    # CHECKOUT (ACP Unified Checkout)
    ###################################################################
    CheckoutRequest:
      type: object
      required:
        [hotelId, rateKey, checkIn, checkOut, holder, occupancies, intent_id]
      properties:
        intent_id:
          type: string
          format: uuid
          description: Optional booking intent to finalize
        hotelId: { type: integer }
        rateKey: { type: string }
        checkIn: { type: string, format: date }
        checkOut: { type: string, format: date }
        paymentToken:
          type: string
          description: Optional when completing an intent
        holder:
          $ref: "#/components/schemas/Holder"
        occupancies:
          type: array
          items:
            $ref: "#/components/schemas/OccupancyRequest"


    Holder:
      type: object
      properties:
        name: { type: string }
        surname: { type: string }
        email: { type: string }
        phone: { type: string }

    CheckoutResponse:
      type: object
      properties:
        reservation:
          $ref: "#/components/schemas/Reservation"

    ###################################################################
    # ACP RESERVATION (Expanded User Profile)
    ###################################################################
    Reservation:
      type: object
      required:
        [id, resourceType, supplier, environment, status, hotel, stay, pricing, user]
      properties:
        id: { type: string }
        resourceType: { type: string }
        supplier: { type: string }
        environment: { type: string }
        status: { type: string }
        hotel:
          type: object
          properties:
            id: { type: string }
            name: { type: string }
        stay:
          type: object
          properties:
            checkIn: { type: string, format: date }
            checkOut: { type: string, format: date }
        pricing:
          type: object
          properties:
            total: { type: number }
            currency: { type: string }
        user:
          type: object
          properties:
            id: { type: string }
            name: { type: string }
            email: { type: string }
            phone: { type: string }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    ###################################################################
    # RESERVATION GET
    ###################################################################
    ReservationGetRequest:
      type: object
      required: [reference]
      properties:
        reference: { type: string }
        refreshFromSupplier: { type: boolean }

    ReservationGetResponse:
      type: object
      properties:
        reservation:
          $ref: "#/components/schemas/Reservation"

    ###################################################################
    # RESERVATION CANCEL
    ###################################################################
    ReservationCancelRequest:
      type: object
      required: [reference]
      properties:
        reference: { type: string }
        dryRun: { type: boolean }

    ReservationCancelResponse:
      type: object
      properties:
        reservation:
          $ref: "#/components/schemas/Reservation"
        cancellation_result:
          type: object
          properties:
            status: { type: string }
            refundable_amount: { type: number }
            penalty_amount: { type: number }
            currency: { type: string }
            dry_run: { type: boolean }

    ###################################################################
    # RESERVATION MODIFY
    ###################################################################
    ReservationModifyRequest:
      type: object
      required: [reference, checkIn, checkOut]
      properties:
        reference: { type: string }
        checkIn: { type: string, format: date }
        checkOut: { type: string, format: date }
        dryRun: { type: boolean }

    ReservationModifyResponse:
      type: object
      properties:
        old_reservation:
          $ref: "#/components/schemas/Reservation"
        new_reservation:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/Reservation"
        price_difference: { type: number }
        dry_run: { type: boolean }

    CheckoutIntentRequest:
      type: object
      required: [hotelId, rateKey, checkIn, checkOut, holder, occupancies, totalPrice, currency]
      properties:
        hotelId: { type: integer }
        rateKey: { type: string }
        checkIn: { type: string, format: date }
        checkOut: { type: string, format: date }
        totalPrice: 
          type: number
          description: Total price for the booking
        currency:
          type: string
          description: Currency code (EUR, USD, etc)
        holder:
          $ref: "#/components/schemas/Holder"
        occupancies:
          type: array
          items:
            $ref: "#/components/schemas/OccupancyRequest"

    
    CheckoutIntentResponse:
      type: object
      properties:
        intent_id:
          type: string
          format: uuid
        expires_at:
          type: string
          format: date-time

    CheckoutIntent:
      type: object
      properties:
        intent_id:
          type: string
          format: uuid
        status:
          type: string
          enum: [draft, claimed, completed, expired]
        payload:
          $ref: "#/components/schemas/CheckoutIntentRequest"
        expires_at:
          type: string
          format: date-time

