openapi: 3.1.0
info:
  title: Hotel Authentication Service
  version: 1.0.0
  description: Authentication for hotel reservation access via ChatGPT.

servers:
  - url: https://auth.thegummibear.com/

components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://auth.thegummibear.com/auth/login-page
          tokenUrl: https://auth.thegummibear.com/auth/token-exchange
          scopes: {}
  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          type: string

security:
  - oauth2: []

paths:
  /auth/login-page:
    get:
      operationId: startLogin
      summary: Start login in user's browser
      description: Opens an email-based login form for the user.
      responses:
        "200":
          description: Login page HTML
          content:
            text/html:
              schema:
                type: string

  /auth/callback-validate:
    post:
      operationId: validateCallback
      summary: Validate login code before token-exchange
      description: |
        Confirms that the login code exists and is valid.
        DOES NOT return tokens. ChatGPT will next call token-exchange.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - code
              properties:
                code:
                  type: string
      responses:
        "200":
          description: Code validated
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
        "401":
          description: Invalid or expired login code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"


  /auth/token-exchange:
    post:
      operationId: tokenExchange
      summary: Exchange authorization code for tokens
      description: ChatGPT sends the short-lived login code and receives access/refresh tokens.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - code
              properties:
                code:
                  type: string
                  example: "12345abcdef"
      responses:
        "200":
          description: Token exchange successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                  refresh_token:
                    type: string
                  token_type:
                    type: string
                  expires_in:
                    type: integer
                  user:
                    type: object
                    properties:
                      id:
                        type: integer
                      email:
                        type: string
        "400":
          description: Missing code
        "401":
          description: Invalid or expired code

  /auth/me:
    get:
      operationId: getCurrentUser
      summary: Get current authenticated user
      security:
        - oauth2: []
      responses:
        "200":
          description: Authenticated identity
          content:
            application/json:
              schema:
                type: object
                properties:
                  user_id:
                    type: integer
                  email:
                    type: string
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
